<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Ассортимент</title>
</head>
<body>
<div>
    <a href="assortment/videocards">Видеокарты</a>
    <hr/>
</div>
<div>
    <a href="assortment/motherboards">Материнские платы</a>
    <hr/>
</div>
<div>
    <a href="assortment/cpu">Процессоры</a>
    <hr/>
</div>
<div>
    <a href="assortment/ssd">SSD накопители</a>
    <hr/>
</div>
<div>
    <a href="assortment/hdd">HDD накопители</a>
    <hr/>
</div>
<div>
    <a href="assortment/ram">Оперативная память</a>
    <hr/>
</div>
<div>
    <a href="assortment/power">Блоки питания</a>
    <hr/>
</div>
<div>
    <a href="assortment/coolers">Кулеры для процессора</a>
    <hr/>
</div>
<div>
    <a href="assortment/cases">Корпуса</a>
    <hr/>
</div>
<div>
    <a href="assortment/fans">Корпусные вентиляторы</a>
    <hr/>
</div>
<a href="/SpringProject/assortment/add">Добавить товар</a>
<hr/>
<a href="/SpringProject/assortment/all">Просмотреть все товары</a>
<hr/>
<a href="/SpringProject">На главную</a>
</body>
</html>