<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подтвердить покупку</title>
</head>
<body>
<p style="color:green" th:text="'Купить ' + ${product.getName()} + ' в ' + *{place} + '?'"></p>
<form th:method="POST" th:action="@{/SpringProject/assortment/{type}/{name}/buy/{place} (type=${product.getType()}, name=${product.getName()}, place=*{place})}">
    <input type="submit" value="Да, купить"/>
</form>
<hr/>
<div>
    <a href="/SpringProject/assortment">К ассортименту</a>
</div>
<a href="/SpringProject">На главную</a>
</body>
</html>