<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpringProject</title>
</head>
<body>
<p>Добро пожаловать на сайт интернет магазина!</p>
<p>В данный момент у нас есть 5 филлиалов: В Москве, Казани, Берлине, Токио и Стокгольме.</p>
<hr/>
<a href="SpringProject/assortment">Ассортимент</a>
<hr/>
<a href="SpringProject/authorization">Авторизация</a>
<hr/>
<a href="SpringProject/registration">Регистрация</a>
<hr/>
<a href="/SpringProject/exit">Выйти из учётной записи</a>
</body>
</html>